body {
    font-family: "Arial";
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 10px 50px  0;
    display: flex;
    flex-direction: column;
}

.header .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;

}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    
}

.lower {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 25px;
    padding-bottom: 100px;

}

.left {
    display: flex;
    flex-direction: column;
    gap: 9px;
    max-width: 490px;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    color: #e5e7eba5;
    font-size: 18px;
}

.sign-up button{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 37px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
}

.placeholder {
    width: 500px;

    color: #e5e7eba5;
    background-color: gray;
    display: flex;

}

.information {
    text-align: center;
    margin-bottom: 100px;
    
}

.title {
    font-weight: 700;
    font-size: 36px;
    margin: 30px;
}

.square {
    width: 150px;
    height: 150px;
    border: solid 3px blue;
    border-radius: 12px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
 
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 150px;
    color: rgba(100, 106,117);
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.container {
    
    font-size: 36px;
    font-style: italic;
    padding: 70px 0;
    width: 70%;
    color: gray;
}

.author {
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    text-align: end;
}



.middle {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;


    
}

.call {
padding: 60px 100px;
}

.call-text :nth-of-type(1){
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.call-text :nth-of-type(2){
    color: #e5e7eba5;

}

.sign button {
    background-color: #3882F6;
    color: white;
    width: 120px;
    height: 35px;
    border: solid;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #e5e7eba5;
    margin-top: auto;
    padding: 20px;
}